@media (max-width: 768px) {
  #navigation-list {
    display: none;
  }
   #container-main-skill {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }
  #menu-icon {
    display: block;
    padding: 15px;
  }
  #navigation-menu {
    display: flex;
    padding: 8px;
    justify-content: center;
  }
  #navigation-list.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(110, 31, 31);
    position: absolute;
    top: 70px;
    right: 20px;
    padding: 20px;
    border-radius: 5px;
  }
  .escuro {
    #navigation-list {
      background-color: rgb(44, 42, 42);
    }
  }
  #navigation-menu li {
    margin-top: 20px;
    text-align: center;
  }
    #container-social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #redes-sociais{
    display: flex;
    flex-direction: column;
    
  }
  .socials{
    margin-top: 40px;
    width: 100%;

  }
  .container-noticia{
    overflow-x: auto;
  }
  #container-edu > h2{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 40px;

}
}

/*
   TABLET
*/
@media (min-width: 769px) and (max-width: 1179px) {
  #navigation-list {
    display: none;
  }
  #navigation-menu {
    display: flex;
    padding: 8px;
    justify-content: center;
  }
  #navigation-list.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(110, 31, 31);
    position: absolute;
    top: 70px;
    right: 20px;
    padding: 20px;
    border-radius: 5px;
  }
  #navigation-menu li {
    margin-top: 20px;
    text-align: center;
  }
  #menu-icon {
    display: block;
    padding: 15px;
  }
   #container-main-skill {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .escuro {
    #navigation-list {
      background-color: rgb(44, 42, 42);
    }
  }
  .container-skills {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .projects {
    width: 70%;
  }

  .content-about p {
    width: 80%;
    text-align: center;
  }
    #container-social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
      #container-social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #redes-sociais{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }
  .socials{
    margin-top: 40px;
  
  }
   .container-noticia{
    overflow-x: auto;
  }
  #container-edu > h2{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 40px;

}
  
}

/* 
   DESKTOP
*/
@media (min-width: 1180px) {
 
  #container-main {
    display: flex;
  }

  .container-skills {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .projects {
    width: 40%;
  }

  .content-about p {
    width: 60%;
    text-align: justify;
  }
  .content-about{
     margin-left: 200px;
     width: 400px;
  }
  #container-main-skill {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }
   .container-noticia{
    display: flex;
    flex-direction: column;
  }
}
