@media (max-width: 768px) {
  #navigation-list {
    display: none;
  }

  #menu-icon {
    display: block;
    padding: 15px;
  }
  #navigation-menu {
    display: flex;
    padding: 8px;
    justify-content: center;
  }
 #navigation-list.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(110, 31, 31);
    position: absolute;
    top: 70px;
    right: 20px;
    padding: 20px;
    border-radius: 5px;
  }
  #navigation-menu li{
    margin-top: 20px;
    text-align: center;
  }
}

/*
   TABLET
*/
@media (min-width: 769px) and (max-width: 1145px) {
  #navigation-list {
    display: none;
  }
  #navigation-menu {
    display: flex;
    padding: 8px;
    justify-content: center;
  }
 #navigation-list.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(110, 31, 31);
    position: absolute;
    top: 70px;
    right: 20px;
    padding: 20px;
    border-radius: 5px;
  }
  #navigation-menu li{
    margin-top: 20px;
    text-align: center;
  }
  #menu-icon {
    display: block;
    padding: 15px;
  }
  .container-skills {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .projects {
    width: 70%;
  }

  .content-about p {
    width: 80%;
    text-align: center;
  }
}

/* 
   DESKTOP
*/
@media (min-width: 1180px) {
  #main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .container-skills {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .projects {
    width: 45%;
  }

  .content-about p {
    width: 60%;
    text-align: justify;
  }
}
