@media (max-width: 768px) {
  #navigation-list {
    display: none;
  }

  #menu-icon {
    display: block;
    padding: 15px;
  }
}

/*
   TABLET
*/
@media (min-width: 769px) and (max-width: 1145px) {
  #navigation-list {
    display: none;
  }

  #menu-icon {
    display: block;
    padding: 15px;
  }
  .container-skills {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .projects {
    width: 90%;
  }

  .content-about p {
    width: 80%;
    text-align: center;
  }
}

/* 
   DESKTOP
*/
@media (min-width: 1200px) {
  #main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .container-skills {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .projects {
    width: 60%;
  }

  .content-about p {
    width: 60%;
    text-align: justify;
  }
}
