@charset "UTF-8";

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* VARIÃVEIS */
:root {
  --corprincipal: rgb(126, 41, 41);
  --corsecundaria: rgb(180, 70, 70);
  --corfundo: rgb(150, 90, 90);
  --corletra: rgb(15, 15, 15);
}

/* BASE (MOBILE FIRST) */
body {
  background-color: var(--corprincipal);
  color: var(--corletra);
  font-size: clamp(16px, 4vw, 18px);
}
.escuro{
  background-color: rgb(15, 14, 14);
  p{
    color: white;
  }
  a{
    background-color: gray;
  }
  header{
    background-color: rgb(12, 9, 9);
  }
  footer{
    background-color: rgb(12, 9, 9);
  }
  .projects{
    background-color: rgb(15, 6, 6);
  }
  color: rgb(226, 222, 218);
}

/* HEADER */
#cabecalho {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

menu > ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

ul > li > a {
  background-color: var(--corsecundaria);
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
}

ul > li > a:hover {
  background-color: rgb(150, 50, 50);
}

#menu-icon {
  display: none;
  cursor: pointer;
}

/* MAIN */
#main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /*background-color: var(--corprincipal);*/
  padding: 20px;
}

/* ABOUT */
.content-about {
  padding: 20px;
  text-align: center;
}

#about-me p,
.content-about p {
  width: 100%;
  max-width: 600px;
  margin: 15px auto;
  line-height: 1.6;
  text-align: left;
}

.my-photo {
  border-radius: 50%;
  border: 3px solid var(--corsecundaria);
}

/* TECNOLOGIAS */
.tecnologies {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 10px;
}

/* PROJETOS */
#sociais {
  padding: 20px;
  text-align: center;
}

.container-skills {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projects {
  width: 100%;
  background-color: var(--corfundo);
  border-radius: 5px;
  overflow: hidden;
}

.projects p {
  padding: 15px;
  text-align: justify;
}

.img-project {
  width: 100%;
  display: block;
}

.projects:hover {
  transform: scale(1.03);
  transition: 0.3s ease;
  cursor: pointer;
}
/* Footer */
#main-footer {
  text-align: center;
  padding: 30px;
}


/* My Skills Page */
#container-main-skill{
  padding: 70px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill-box{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
span{
  font-weight: bold;
}
.porcent{
  background-color: rgb(109, 42, 42);
  width: 100%;
  height: 9px;
  border-radius: 4px;
  margin-top: 2px;
}
.skill-porcen{
  background-color: rgb(192, 98, 98);
  height: 100%;
  border-radius: 4px;
}