@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --corprincipal: rgb(126, 41, 41);
  --corsecundaria: rgb(180, 70, 70);
  --corfundo: rgb(150, 90, 90);
  --corletra: rgb(15, 15, 15);
}
body {
  background-color: var(--corfundo);
  color: var(--corletra);
}
#cabecalho {
  background-color: var(--corprincipal);
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
menu > ul {
  list-style: none;
  margin: 10px;
  display: flex;
  gap: 20px;
}
ul > li > a {
  background-color: rgb(180, 70, 70);
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
}
ul > li > a:hover {
  background-color: rgb(150, 50, 50);
}
#menu-icon {
  cursor: pointer;
  display: none;
}

#about-me p {
  margin-top: 15px;
  line-height: 25px;
  text-align: justify;
}
.content-about {
  border-radius: 5px;
  margin: 0px;
  text-align: center;
  background-color: rgb(126, 41, 41);
  padding: 20px;
}
.content-about p {
  display: flex;
  margin: auto;
  width: 90%;
}
#main-content {
  display: flex;
  gap: 20px;
  background-color: var(--corprincipal);
  flex-wrap: wrap;
  
}
.my-photo {
  border-radius: 50%;
  border: 3px solid rgb(180, 70, 70);
}
.tecnologies {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 10px;
}
#sociais {
   margin-top: 2px;
   background-color: var(--corprincipal);
   border-radius: 3px;
   width: 100%;
   padding: 20px;
   text-align: center;
}
.container-media{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}
span{
    display: flex;
    flex-wrap: wrap;
}
.social-media{
    margin: 20px;
}
.projects{
    border-radius: 5px;
    margin: 10px;
    width: 50%;
    background-color: var(--corfundo);
    color: black;

}
.projects > p{
    padding: 15px;
    text-align: justify;
}
.img-project{
    width: 100%;
    margin:0px;
    border-radius: 4px 4px 0px 0px;
}
.projects:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.container-skills{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
