@charset "UTF-8";

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* VARIÃVEIS */
:root {
  --corprincipal: rgb(126, 41, 41);
  --corsecundaria: rgb(180, 70, 70);
  --corfundo: rgb(150, 90, 90);
  --corletra: rgb(15, 15, 15);
}

/* BASE (MOBILE FIRST) */
body {
  background-color: var(--corprincipal);
  color: var(--corletra);
  font-size: clamp(16px, 4vw, 18px);
}
.escuro{
  background-color: rgb(15, 14, 14);
  p{
    color: white;
  }
  h2{
    color: rgb(255, 255, 255);
  }
  h3{
    color: rgb(196, 196, 196);
  }
  a{
    background-color: gray;
    color: white;
  }
  header{
    background-color: rgb(12, 9, 9);
  }
  footer{
    background-color: rgb(12, 9, 9);
  }
  .projects{
    background-color: rgb(15, 6, 6);
  }
  .my-photo{
    box-shadow: 0 0 10px rgb(131, 130, 130);
    border: 3px solid rgb(116, 116, 115);
  }
  color: rgb(226, 222, 218);
}
.claro{
  background-color: var(--corprincipal);
  color: var(--corletra);
}

/* HEADER */
#cabecalho {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav > ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

ul > li > a {
  background-color: var(--corsecundaria);
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
}

ul > li > a:hover {
  background-color: rgb(150, 50, 50);
}

#menu-icon {
  display: none;
  cursor: pointer;
}

/* MAIN */
#main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /*background-color: var(--corprincipal);*/
  padding: 20px;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
#container-main-skill {
  flex: 1;
}

/* ABOUT */
.content-about {
  padding: 20px;
  text-align: center;
}

#about-me p,
.content-about p {
  width: 100%;
  max-width: 600px;
  margin: 15px auto;
  line-height: 1.6;
  text-align: left;
}

.my-photo {
  border-radius: 50%;
  border: 3px solid rgb(31, 31, 31);
  box-shadow: 3px 8px 20px rgba(228, 59, 59, 0.3);
}

/* TECNOLOGIAS */
.tecnologies {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 10px;
}

/* PROJETOS */
#sociais {
  padding: 20px;
  text-align: center;
}

.container-skills {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projects {
  width: 100%;
  background-color: var(--corfundo);
  border-radius: 5px;
  overflow: hidden;
}

.projects p {
  padding: 15px;
  text-align: justify;
}

.img-project {
  width: 100%;
  display: block;
}

.projects:hover {
  transform: scale(1.03);
  transition: 0.3s ease;
  cursor: pointer;
}
/* Footer */
#main-footer {
    display: flex;
    padding: 30px;
    align-items: flex-end;
  }
  #main-footer p {
    flex: auto;
    align-items: end;
    text-align: center;
  }

/* My Skills Page */
#container-main-skill{
  padding: 70px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill-box{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
span{
  font-weight: bold;
}
.porcent{
  background-color: rgb(109, 42, 42);
  width: 100%;
  height: 9px;
  border-radius: 4px;
  margin-top: 2px;
}
.skill-porcen{
  background-color: rgb(192, 98, 98);
  height: 100%;
  border-radius: 4px;
}
#redes-sociais{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.link-sociais{
  background-color: var(--corfundo);
  color: rgb(239, 236, 236);
  padding:20px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.link-sociais:hover{
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(199, 187, 187, 0.2);
  background-color: rgb(35, 31, 31);
}
#container-social{
  display: flex;
  height: 100vh;
  justify-content: center;
  
  align-items: center;
}
.container-noticia{
  display: flex;
  justify-content: space-around;
  align-items: center;
 
}
#container-edu > h2{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 40px;

}
#container-edu{
  margin: auto;
}
#main-edu{
  height: 100vh;
}
.noticia{
  margin: 20px;
  border-radius: 7px;
  transition: all 0.3s ease;

}
.noticia:hover{
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(9, 9, 9, 0.2);
}
.contact, .form-text{
  display: block;
  margin: auto;
  padding: 20px 0px;
}
.contact{
  border: 4px solid var(--corsecundaria);
  padding: 40px;
  width: 420px;
  border-radius: 10px;
}
.texto-input, .btn-enviar{
  display: block;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}
.btn-enviar:hover{
  background-color: var(--corsecundaria);
  color: white;
  font-weight: bold;}